* {
    padding: 0;
    margin: 0;
    font-family: 'Stratos LC Web';
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #004980;
}

.title {
    width: 208px;
    height: 96px;
    
    margin-top: 52px;
    margin-bottom: 48px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    text-align: center;
    color: #004980;
}

.start-box {
    width: 480px;
    height: 459px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: #C2F5FF;
    border-radius: 12px;
}

.start-box__submit-btn {
    width: 246px;
    height: 50px;
    margin-bottom: 49px;

    border-radius: 12px;
    border: none;

    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    color: #FFFFFF;
    background: #7AC100;
}

.start-box__select-btns {
    margin-bottom: 67px;
    
    display: flex;
    gap: 24px;
}


.start-box__select-btns__btn {
    width: 97px;
    height: 98px;

    border: none;
    border-radius: 12px;

    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    color: #0080C1;
}
