* {
    padding: 0;
    margin: 0;
    font-family: 'Stratos LC Web';
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #004980;
}

.form__title {
    width: 208px;
    height: 96px;
    
    margin-top: 52px;
    margin-bottom: 48px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    text-align: center;
    color: #004980;
}

.form {
    width: 480px;
    height: 459px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: #C2F5FF;
    border-radius: 12px;
}

.form__submit-btn {
    width: 246px;
    height: 50px;
    margin-top: 67px;
    margin-bottom: 49px;

    border-radius: 12px;
    border: none;

    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    color: #FFFFFF;
    background: #7AC100;
}

.from__submit-btn:hover {
    cursor: pointer;
}

.form__level-area {
    height: 120px;
    display: flex;    
    overflow: hidden;
}

.form__level-area:not(:checked) > input {
    display: none;
}

/* .form__level-area > input {
    display: none;
} */

.form__level-area:not(:checked) > label {
    float: right;
        
    width: 97px;
    /* height: 100px; */
    margin-left: 12px;
    margin-right: 12px;

    border: none;
    border-radius: 12px;

    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 100px;
    /* line-height: 72px; */
    /* or 112% */
    
    color: #0080C1;
    background: #FFFFFF;;
}

.form__level-area > input:checked + label {
    border: 1px solid;
}

.form__level-area:not(:checked) > label:hover
{
    cursor: pointer;
}
