* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Stratos LC Web', sans-serif;
}

/* html {
   font-family: 'Stratos LC Web', sans-serif;
   color: white;
 } */
body,
.canvas {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #004980;
}

.canvas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  display: none;
}

.form {
  width: 480px;
  height: 459px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-around; */
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  background: #c2f5ff;
  border-radius: 12px;
}

.form__title {
  width: 208px;
  height: 96px;
  margin-top: 52px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  text-align: center;
  color: #004980;
}

.form__submit-btn {
  width: 246px;
  height: 50px;
  margin-top: 67px;
  /* margin-bottom: 49px; */
  border-radius: 12px;
  border: none;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  color: #fff;
  background: #7ac100;
}

.form__submit-btn:hover {
  cursor: pointer;
}

.form__level-area {
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* & > input {
            display: none;
        } */
}

.form__level-area:not(:checked) > input {
  display: none;
}

.form__level-area:not(:checked) > label {
  float: right;
  width: 97px;
  /* height: 100px; */
  margin-left: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;
  /* line-height: 72px; */
  /* or 112% */
  color: #0080c1;
  background: #fff;
}

.form__level-area > input:checked + label {
  border: 1px solid;
}

.form__level-area:not(:checked) > label:hover {
  cursor: pointer;
}

.form__error {
  margin-top: 8px;
  margin-bottom: 0;
  color: red;
}

/* screen2&3 */
.container {
  width: 975px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
  width: 100%;
}

.clock {
  position: relative;
}

.clock__time {
  position: relative;
  width: 155px;
  height: 72px;
  text-align: right;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #fff;
}

.clock__labels {
  position: absolute;
  right: 0;
  top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.clock__labels__sec {
  margin-left: 60px;
}

.restart-btn {
  min-width: 246px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 24px;
  line-height: 32px;
  background: #7ac100;
}

.restart-btn:hover {
  cursor: pointer;
}

.card-board {
  /* width: 100%; */
  width: 667px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* gap: 15px; */
}

.card {
  height: 121px;
  width: 83px;
  padding: 6px;
  margin: 8px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.card__face {
  height: 100%;
  width: 100%;
  /* transform: rotate(180deg); */
}

.card__back {
  height: 121px;
  width: 83px;
  background: url("..//img/card_back2.svg"), url("..//img/card_back1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.form-msgbox-canvas {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: #004980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-msgbox {
  z-index: 2;
  width: 480px;
  height: 459px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  background: #c2f5ff;
  border-radius: 12px;
}

.form-msgbox__icon {
  width: 96px;
  height: 96px;
  margin-top: 30px;
  margin-bottom: 4px;
}

.form-msgbox__title {
  width: 280px;
  height: 48px;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  text-align: center;
  color: #004980;
}

.form-msgbox__time-label {
  width: 230px;
  height: 32px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.form-msgbox__time {
  width: 155px;
  height: 72px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #000;
}

.form-msgbox__submit-btn {
  width: 246px;
  height: 50px;
  /* margin-bottom: 49px; */
  border-radius: 12px;
  border: none;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  color: #fff;
  background: #7ac100;
}

.form-msgbox__submit-btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */